<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Wha7 Outfits</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CompanyName</key>
	<string>Gear Lease, Inc</string>
</dict>
</plist>
